.main-header{
    border-bottom: 1px solid grey;
    max-height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.logo-gs{
    width: 100px;
    max-height: 15vh;
}  
/* .nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}  */

.main-header h2, span {
    letter-spacing: 0px;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
}

.nav-list li{
  margin-left: 32px;
  list-style: none;
}

.nav-link {
    color:  white;
    text-decoration: none;
}

.icon{
    margin-right: 1em;
    color: rgb(89, 220, 253, 1);
}

.name-color{
    color: rgb(89, 220, 253, 1);
}


.active{
    color: rgb(89, 220, 253, 1);
}


.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 600px) {
    .main-header{
       /*  border-bottom: 1px solid grey;
        max-height: 15vh 
        display: flex;
        align-items: center;
        flex-wrap: nowrap;*/
        justify-content: space-between;
    }

    


    .nav-list{
        display: none;
    }

    .nav-list-mobile{
        position: absolute;
        display: block;
        list-style: none;
        background-color: black;
        left: 0;
        top: 50px;
        list-style: none;
        width: 100vw;
        height: 75vh;
        transition: all 0.5s ease-out;
        box-sizing: border-box;
        z-index: 1;
    }

    /* .nav-list-mobile .nav-link{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .nav-link{
        color: #fff;
        text-align: center;
        padding: 32px;
        transition: all 0.5s ease;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        color: #fff;
        background-color:  black;
        border: none;
        outline: none;
        top: 20px;
        right: 15px;
    }
}