.container{
    width: 100%;
    height: 70vh;
    position: relative;
  
}

.icon-section{
    position: relative;
    top: 1%;
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
 
}

.icon-section .row{
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 2em;
    transform:  rotate(0deg);
    max-height: 70vh;
}

i{
    transition: 1s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

i:hover{
    transition: 0s;
    color: rgb(89, 220, 253, 1);
    text-shadow: 0 0 120px rgb(89, 220, 253, 1);
}

.icon-section .row div{
    font-size: 1em;
    white-space: nowrap;
    animation: animated-icon 80s linear infinite;
    animation-delay: -80s;
}

.icon-section .row div:nth-child(2){
    animation: animated-icon-2 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animated-icon {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translatex(-100%);
    }
}

@keyframes animated-icon-2 {
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translatex(-200%);
    }
}


.icon-section .row:nth-child(even) div{
    font-size: 1em;
    white-space: nowrap;
    animation: animated-icon-3 80s linear infinite;
    animation-delay: -80s;
}

.icon-section .row:nth-child(even) div:nth-child(2){
    animation: animated-icon-4 80s linear infinite;
    animation-delay: -40s;
}

@keyframes animated-icon-3 {
    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translatex(100%);
    }
}

@keyframes animated-icon-4 {
    0%{
        transform: translateX(-200%);
    }

    100%{
        transform: translatex(0);
    }
}


.card{
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 10%;
    border: 1px solid #fff;
    max-width: 25vw;
    padding: 1em;
    font-size: 16px;
}


.card i{
    color: violet;
    font-size: 2em;
}

.card  i{
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
        color: #fff;
        text-shadow: none;
    }

    18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%{
        color: rgb(89, 220, 253, 1);;
        text-shadow: 0 0 10px rgb(89, 220, 253, 1),
                    0 0 20px rgb(89, 220, 253, 1),
                    0 0 40px rgb(89, 220, 253, 1),
                    0 0 80px rgb(89, 220, 253, 1),
                    0 0 160px rgb(89, 220, 253, 1),
                    0 0 400px rgb(89, 220, 253, 1);
    }
}


