.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 1px solid  grey;
    box-sizing: border-box;
}

.footer i {
    color: #fff;
    font-size: 2em;
    transition: color 1s linear;
}



.footer i:hover {
    color: rgb(89, 220, 253, 1);
    font-size: 2.5em;
}

